// colors
$color-primary: #773DBD;
$color-primary-light: #773DBD1A;
$color-secondary: #FF5000;
$color-secondary-light: #FF500014;
$color-active-tab: #7e48c9;

$color-gray-50: #D4D4D6;
$color-gray-100: #F8F8F6;
$color-gray-200: #D6D6D6;
$color-gray-300: #F6F6F6;
$color-gray-400: #5F6368;
$color-gray-500: #f5f5f5;
$color-gray-600: #1D1F1F;
$color-gray-700: #A5A5A5;
$color-gray-800: #9DA4AE;
$color-gray-900: #FAFAFA;

$color-light-black: #161616;
$color-white: #ffffff;
$color-black: #000;
$color-black-100: #1D1F1F;
$text-primary-color: #1B1B1B;
$text-secondary-color: #333333;
$alert-green-color: #07C37B;
$alert-red-color: #C30734;
$alert-yellow-color: #F4C724;
$alert-blue-color: #229CBE;
$notification-background-color: #FF003D;
$input-border-color: #9DA4AE;
$move-background-color: #f5f0fa;

$btn-icon-border-color: #EAECF0;
// border radius
$border-radius-sm: 6px;
$border-radius-md: 8px;
$border-radius-circle: 50%;

// font size
$font-size-sm: 0.75rem; // 12px
$font-size-md: 0.875rem; // 14px
$font-size-lg: 1rem; // 16px
$font-size-xl: 1.125rem; // 18px
$font-size-2xl: 1.25rem; // 20px
$font-size-3xl: 1.5rem; // 24px
$font-size-4xl: 1.75rem; // 28px
$font-size-5xl: 2rem; // 32px
$font-size-6xl: 2.25rem; // 36px
$font-size-7xl: 2.5rem; // 40px
$font-size-8xl: 3rem; // 48px
$font-size-9xl: 3.5rem; // 56px
$font-size-10xl: 4rem; // 64px


// SVG icon color filters
$filter-icon-primary: brightness(0) saturate(100%) invert(27%) sepia(74%) saturate(1645%) hue-rotate(254deg) brightness(91%) contrast(88%);

//  transition
$transition: all 0.3s ease-in-out;

// input height
$input-height: 45px;